* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
  

  background: linear-gradient(45deg, #190361, #bb00ff);
	animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

main {
  background-color: #ffffff;
  width: min(42.8rem, 90%);
  text-align: center;

  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.8);
  border-radius: .5rem;
}

.hide {
  display: none;
}

/*SCREEN1*/

.screen1 {
  padding: 4.8rem 6.4rem 6.4rem;
}

.screen1 h1 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: #34355B;
}

.screen1 p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;

  color: #34355B;

  margin: 1.4rem 0 2rem;
}



.screen1 img:hover {
  cursor: pointer;
  animation: shake .2s;
  animation-iteration-count: 4;
}

@keyframes shake {
  0% {margin-left: 0;}
  25% {margin-left: .7rem;}
  50% {margin-left: 0;}
  75% {margin-left: -.7rem;}
  100% {margin-left: 0;}
}

/*SCREEN2*/

.screen2 {
  padding: 4.8rem 6.4rem;
}

.screen2 h2 {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: #34355B;
}

.screen2 h3 {
  font-family: 'Dancing Script';
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.9rem;

  color: #000000;

  background: #E4EDF1;
  box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.5);

  padding: 1rem;

  margin: 1.7rem 0;
}

.screen2 button {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;

  background: #FF9500;
  border-radius: 4px;
  padding: 1.6rem;

  color: #FFFFFF;

  border: none;
}

.screen2 button:hover {
  background: #fd9e19;
  cursor: pointer;
}